body{
    background-color: #fff;
    font-family: "Poppins", sans-serif;
}

html{
    font-size:16px;
}

.container{
    width: 46.875em;
    background-color: #000;
    margin: 0 auto;
    padding:10px;
}

header{
    background-color: #4682B4;
    height: 230px;
    padding: 10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

banner{
    width:500px;
    height:240px;
    background-color: #fff;
    border:1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

logo{
    width:220px;
    height:240px;
    background-color: #fff;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-left:10px;
}

nav{
    background-color: #32CD32;
    height:50px;
    margin-bottom:10px;
}

main{
    height:380px;
    padding:10px;
    background-color: #D2B48C;
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom: 10px;
}

article{
    width:450px;
    height:380px;
    background-color: #fff;
    border:1px solid #000;
    display:flex;
    align-items:center;
    justify-content: center;
    font-size:20px;
}

aside{
    width:270px;
    height:380px;
    background-color: #fff;
    border:1px solid #000;
    display:flex;
    align-items:center;
    justify-content: center;
    font-size:20px;
}

footer{
    height:50px;
    background-color: #FFA500;
}